# =====================
# Secrets (NEVER COMMIT)
# =====================
.env

# =====================
# Python
# =====================
__pycache__/
*.pyc
venv/
.venv/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
